@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.flash-message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: opacity 0.5s ease;
}

.flash-message.success { background-color: #d4edda; color: #155724; }
.flash-message.error { background-color: #f8d7da; color: #721c24; }

.flash-message.hide {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
